USE [master]
GO
/****** Object:  Database [LALCDB]    Script Date: 1/2/2022 6:54:18 PM ******/
CREATE DATABASE [LALCDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LALCDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LALCDB]
GO
USE [LALCDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/2/2022 6:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 1/2/2022 6:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[esPrioritaria] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conceptoes]    Script Date: 1/2/2022 6:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conceptoes](
	[ConceptoID] [int] IDENTITY(1,1) NOT NULL,
	[SubcategoriaID] [int] NOT NULL,
	[Definicion] [nvarchar](max) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Conceptoes] PRIMARY KEY CLUSTERED 
(
	[ConceptoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Practicas]    Script Date: 1/2/2022 6:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Practicas](
	[PracticaID] [int] IDENTITY(1,1) NOT NULL,
	[SubcategoriaID] [int] NOT NULL,
	[CantidadConceptos] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Practicas] PRIMARY KEY CLUSTERED 
(
	[PracticaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcategorias]    Script Date: 1/2/2022 6:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategorias](
	[SubcategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaID] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Subcategorias] PRIMARY KEY CLUSTERED 
(
	[SubcategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 1/2/2022 6:54:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([CategoriaID], [UsuarioID], [Nombre], [Color], [Descripcion], [esPrioritaria]) VALUES (1, 1, N'Lenguaje', N'#a85454', N'Sobre letras', 1)
INSERT [dbo].[Categorias] ([CategoriaID], [UsuarioID], [Nombre], [Color], [Descripcion], [esPrioritaria]) VALUES (2, 2, N'Matemática', N'#FF658EA3', N'Sobre números', 0)
INSERT [dbo].[Categorias] ([CategoriaID], [UsuarioID], [Nombre], [Color], [Descripcion], [esPrioritaria]) VALUES (3, 2, N'Programar', N'#FF659DA8', N'', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Conceptoes] ON 

INSERT [dbo].[Conceptoes] ([ConceptoID], [SubcategoriaID], [Definicion], [Titulo]) VALUES (1, 1, N'14 versos endecasílabos (11 sílabas c/u) ', N'Soneto')
INSERT [dbo].[Conceptoes] ([ConceptoID], [SubcategoriaID], [Definicion], [Titulo]) VALUES (2, 1, N'Número indefinido de versos octosílabos (8 sílabas c/u)', N'Romance')
INSERT [dbo].[Conceptoes] ([ConceptoID], [SubcategoriaID], [Definicion], [Titulo]) VALUES (3, 1, N'4 versos octosílabos', N'Cuarteta')
SET IDENTITY_INSERT [dbo].[Conceptoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Practicas] ON 

INSERT [dbo].[Practicas] ([PracticaID], [SubcategoriaID], [CantidadConceptos], [Fecha]) VALUES (1, 5, 5, CAST(N'2022-01-02T23:21:17.667' AS DateTime))
INSERT [dbo].[Practicas] ([PracticaID], [SubcategoriaID], [CantidadConceptos], [Fecha]) VALUES (2, 1, 2, CAST(N'2022-01-02T23:31:50.370' AS DateTime))
INSERT [dbo].[Practicas] ([PracticaID], [SubcategoriaID], [CantidadConceptos], [Fecha]) VALUES (3, 9, 4, CAST(N'2022-01-02T23:45:18.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[Practicas] OFF
GO
SET IDENTITY_INSERT [dbo].[Subcategorias] ON 

INSERT [dbo].[Subcategorias] ([SubcategoriaID], [CategoriaID], [Nombre], [Color], [Descripcion]) VALUES (1, 1, N'Poemas', N'#FFFFAE7B', N'Es una obra de arte de cierta extensión.')
INSERT [dbo].[Subcategorias] ([SubcategoriaID], [CategoriaID], [Nombre], [Color], [Descripcion]) VALUES (2, 4, N'Animales', N'#FFAEE2FF', N'')
INSERT [dbo].[Subcategorias] ([SubcategoriaID], [CategoriaID], [Nombre], [Color], [Descripcion]) VALUES (3, 4, N'Plantas', N'#FF9EFF25', N'')
SET IDENTITY_INSERT [dbo].[Subcategorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [email], [password], [nombre]) VALUES (1, N'user@gmail.com', N'12345678', N'user')
INSERT [dbo].[Usuarios] ([UsuarioID], [email], [password], [nombre]) VALUES (2, N'udla@gmail.com', N'udla1234', N'udla')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [IX_UsuarioID]    Script Date: 1/2/2022 6:54:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioID] ON [dbo].[Categorias]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubcategoriaID]    Script Date: 1/2/2022 6:54:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubcategoriaID] ON [dbo].[Conceptoes]
(
	[SubcategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubcategoriaID]    Script Date: 1/2/2022 6:54:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubcategoriaID] ON [dbo].[Practicas]
(
	[SubcategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoriaID]    Script Date: 1/2/2022 6:54:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoriaID] ON [dbo].[Subcategorias]
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categorias_dbo.Usuarios_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categorias] CHECK CONSTRAINT [FK_dbo.Categorias_dbo.Usuarios_UsuarioID]
GO
ALTER TABLE [dbo].[Conceptoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Conceptoes_dbo.Subcategorias_SubcategoriaID] FOREIGN KEY([SubcategoriaID])
REFERENCES [dbo].[Subcategorias] ([SubcategoriaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conceptoes] CHECK CONSTRAINT [FK_dbo.Conceptoes_dbo.Subcategorias_SubcategoriaID]
GO
ALTER TABLE [dbo].[Practicas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Practicas_dbo.Subcategorias_SubcategoriaID] FOREIGN KEY([SubcategoriaID])
REFERENCES [dbo].[Subcategorias] ([SubcategoriaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Practicas] CHECK CONSTRAINT [FK_dbo.Practicas_dbo.Subcategorias_SubcategoriaID]
GO
ALTER TABLE [dbo].[Subcategorias]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subcategorias_dbo.Categorias_CategoriaID] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subcategorias] CHECK CONSTRAINT [FK_dbo.Subcategorias_dbo.Categorias_CategoriaID]
GO
USE [master]
GO
